@import '../../scss/variables';

.movies-card-list {
  background-color: $main-bg;
  font-family: $app-font-family;
  flex: 1 1 auto;
  @media (max-width: 768px) {
    padding-top: 70px;
  }

  &__list {
    display: grid;
    row-gap: 40px;
    padding: 81px 0 0;
    margin: 0;
    list-style: none;
    border-top: 1px solid $dark-line-color;
    @media (max-width: 768px) {
      padding-top: 70px;
      row-gap: 40px;
    }
    @media (max-width: 420px) {
      padding-top: 50px;
      row-gap: 21px;
    }

  }

  &__button-more {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: $main-font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 59px auto 0;
    padding: 0;
    background-color: initial;
    border: 1px solid $dark-line-color;
    border-radius: 6px;
    width: 320px;
    height: 36px;
    cursor: pointer;
    transition: 
      opacity 0.3s ease,
      box-shadow 0.2s ease;
    &:hover {
      box-shadow: 0px 0px 4px 0px;
    }
    &:active {
      opacity: 0.6;
      box-shadow: 0px 0px 3px 0px;
    }
    @media (max-width: 768px) {
      margin-top: 80px;
    }
    @media (max-width: 600px) {
      width: 240px;
    }
    @media (max-width: 420px) {
      margin-top: 72px;
    }
  }
  &__filter-checkbox {
    margin-bottom: 69px;
    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
  &__search-form {
    margin-bottom: 41px;
    @media (max-width: 420px) {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}