@import '../../scss/variables';

.auth-form {
  font-family: $app-font-family;
  color: $main-font-color;
  &__button {
    background-color: $blue;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    color: $main-font-color;
    cursor: pointer;
    @extend %link-effects;
    @media (max-width: 420px) {
      font-size: 12px;
    }
    &_inactive {
      background-color: $dark-line-color;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__inputs-stack {
    min-height: 286px;
    @media (max-width: 420px) {
      min-height: 375px;
    }
  }
  &__fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    display: grid;

  }
  &__legend {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2104;
    margin: 0 0 40px;
    @media (max-width: 420px) {
      text-align: center;
      margin-bottom: 80px;
    }
  }
  &__notification-block {
    color: $red;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    margin: 0;
    padding-bottom: 15px;
    opacity: 1;
    transition: opacity, 0.3s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    min-height: 49px;
    @media (max-width: 420px) {
      font-size: 10px;;
    }
  }
}