@import '../../scss/variables';

.filter-checkbox {
  font-family: $app-font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2857;
    color: $main-font-color;
    @media (max-width: 420px) {
      font-size: 11px;
    }
  }

  &__switcher {
    width: 36px;
    height: 20px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: $green;
    display: grid;
    justify-content: start;
    border: none;
    position: relative;
    transition: filter 0.5s ease;
    filter:grayscale(50%) invert(100%);
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $main-font-color;
      transition: left 0.5s ease;
    }
    &_active {
      filter:grayscale(0);
    }
    &_active::before {
      left: 22px;
    }

  }
}