@import '../../scss/variables';

.footer {
  background-color: $main-bg;
  font-family: $app-font-family;
  color: $main-font-color;
  display: flex;
  justify-content: center;

  &__bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    justify-content: space-between;
    @media (max-width: 420px) {
      grid-auto-flow: row;
      grid-template-columns: auto;
      justify-content: center;
      justify-items: center;
      row-gap: 31px;
    }
  }

  &__container {
    padding: 60px 70px 20px;
    box-sizing: border-box;
    max-width: 1280px;
    flex: 1 1 auto;
    @media (max-width: 768px) {
      padding-top: 150px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (max-width: 420px) {
      padding-top: 128px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    margin: 0;
    @media (max-width: 420px) {
      font-size: 12px;
      grid-row: 2/3;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    color: $secondary-font-color;
    text-align: center;
    margin: 0 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $dark-line-color;
    @media (max-width: 420px) {
      font-size: 12px;
      padding-bottom: 22px;
      margin-bottom: 32px;
    }
  }

  &__item {
    font-size: 0;
  }

  &__link {
    @extend %link-effects;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    color: $main-font-color;
    text-decoration: none;
    @media (max-width: 420px) {
      font-size: 12px;
    }
  }

  &__links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    @media (max-width: 420px) {
      grid-auto-flow: row;
      justify-items: center;
      row-gap: 11px;
    }
  }
  

}