//colors
$promo-bg: #073042;
$main-bg: #202020;
$secondary-bg: #272727;
$third-shade-bg: #303030;
$items-bg: #2F2F2F;
$main-font-color: #fff;
$secondary-font-color: #8B8B8B;
$dark-font-color: #000;
$light-line-color: #dadada;
$dark-line-color: #424242;
$cover-color: #000;
$red: #ee3465;
$green: #3ddc84;

//font-size
$enlarged: 18px;

//font-family
$app-font-family: 'Inter', Arial, Helvetica, sans-serif;