@import '../vendor/fonts';
@import '../vendor/libs/normalize';
@import '../components/all';

.page {
  font-family: $app-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}